.root {
  width: 100%;
  max-width: 760px;
  margin: 0px auto;
  background-color: white;
  min-height: 100vh;
}

.messageBox {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
}